<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">Favourite Products</span>
  </h2>
  <div class="row px-xl-5">
    <div
      class="col-lg-3 col-md-4 col-sm-6 pb-1"
      *ngFor="let product of productList;let i=index"
    >
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <div style="width: 100%">
            <img
              class="img-fluid w-100"
              src="{{ product.image }}"
              alt=""
              style="width: 100% !important; height: 400px"
            />
          </div>
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" 
              ><i class="fa fa-shopping-cart"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" (click)="removeLike(product?.favouriteId)"
              ><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" 
              ><i class="fa fa-sync-alt"></i
            ></a>
            <a class="btn btn-outline-dark btn-square" 
              ><i class="fa fa-search"></i
            ></a>
          </div>
        </div>
        <div class="text-center py-4">
          <div style="min-height: 60px;">
            <a class="h6 text-decoration-none" >{{ product.title }}</a>
          </div>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>{{ product.price }}</h5>
            <h6 class="text-muted ml-2">
              <del>{{ product.realPrice }}</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <ng-container *ngFor="let rate of totalRate; let i = index">
              <ng-container *ngIf="i < math.floor(product?.rating)">
                <small class="fa fa-star text-primary mr-1"></small>
              </ng-container>
              <ng-container *ngIf="i == math.floor(product?.rating)">
                <small class="fa fa-star-half-alt text-primary mr-1"></small>
              </ng-container>
              <ng-container *ngIf="i > product?.rating">
                <small class="far fa-star text-primary mr-1"></small>
              </ng-container>
            </ng-container>
            <!-- <small>({{ product?.rating?.count }})</small> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Products End -->
